* {
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imgcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#mainphoto {
  height: 300px;
  width: 300px;
  border-radius: 360px;
  margin: 0 0 10px 0;
}
.info {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
#infocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  width: 700px;
  margin: 10px 0 0 0;
  padding: 10px;
}
p {
  width: 650px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.card {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 0 0 10px 0;
}
span {
  font-size: 30px;
}
#head {
  display: flex;
  justify-content: center;
  align-items: center;
}